[Unit]
Description=Nginx log analyzer for OSS mirrors, working with fail2ban

[Service]
Restart=on-failure
StartLimitInterval=10s
MemoryMax=5G
ExecStart=/usr/local/bin/ayano daemon --outlog /var/log/ayano/record.log --parser nginx-combined /var/log/nginx/access.log

# Systemd in Debian Bookworm does not support notify-reload
# Type=notify-reload
Type=notify
ExecReload=/bin/kill -HUP $MAINPID

LogsDirectory=ayano
# Run `adduser --system ayano` first!
User=ayano
Group=nogroup
# The group of /var/log/nginx
SupplementaryGroups=adm

[Install]
WantedBy=multi-user.target
