[Unit]
Description=Nginx log analyzer for OSS mirrors, working with fail2ban
After=network.target network-online.target

[Service]
Restart=on-failure
StartLimitInterval=10s
MemoryMax=5G

# You may need to modify this with "systemctl edit ayano.service"
ExecStart=/usr/bin/ayano daemon --outlog /var/log/ayano/record.log --parser nginx-combined /var/log/nginx/access.log

Type=notify-reload
ExecReload=/bin/kill -HUP $MAINPID

LogsDirectory=ayano
User=ayano
Group=nogroup

[Install]
WantedBy=multi-user.target
